.news {
    flex: 0 0 30%;
    height: fit-content;
    display: block;
    &__title {
        font-size: 20px;
        font-weight: bold;
        display: block;
        margin: 0.83em 0;
    }
    &__extract {
        display: block;
        padding: 5px 15px;
    }
}