* {
  box-sizing: border-box; }

body {
  font-family: monospace; }

.nav {
  flex: 1 1 100%;
  text-align: right;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .nav li:first-of-type {
    display: none; }
  @media (min-width: 576px) {
    .nav {
      display: unset;
      flex: 1 1 100%;
      text-align: right;
      list-style: disc; }
      .nav li:first-of-type {
        display: unset; } }
  .nav a {
    text-decoration: none; }
  .nav__buscar {
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 10px;
    width: 130px; }
    @media (min-width: 576px) {
      .nav__buscar {
        width: unset; } }

.contenido {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 576px) {
    .contenido {
      display: grid;
      grid-template: auto 1fr auto / 1fr auto;
      width: 960px; } }
  .contenido header {
    width: 100%; }
    @media (min-width: 576px) {
      .contenido header {
        grid-column: 1 / 4;
        width: 960px; } }
  .contenido main {
    width: 100%; }
  .contenido .sidebar {
    display: none; }
    @media (min-width: 576px) {
      .contenido .sidebar {
        display: unset;
        grid-column: 3 / 4; } }
  .contenido footer {
    grid-column: 1 / 4; }

.header {
  padding: 10px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }
  .header__logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    flex: 0 0 auto;
    padding-bottom: 15px; }

.footer {
  background-color: white;
  text-align: center;
  width: 100%; }

.sidebar {
  background-color: #f2f4f5;
  width: 220px; }
  .sidebar section {
    border-bottom: 1px solid black; }
    .sidebar section h2 {
      font-size: 25px; }
    .sidebar section:last-of-type {
      border-bottom: none; }
  .sidebar__tags {
    height: 120px; }
    .sidebar__tags ul {
      background-color: steelblue;
      color: white;
      list-style: none;
      padding-left: 5px; }
      .sidebar__tags ul li {
        padding-top: 2px;
        padding-bottom: 2px; }
  .sidebar__destacados .destacado__title {
    margin: 1.33em 0;
    display: block; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f4f5; }
  .main__wrapper {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap; }

.suscribete {
  text-align: center;
  margin-top: 25px;
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .suscribete__title {
    font-size: 24px;
    font-weight: bold;
    max-width: 85%; }
    @media (min-width: 576px) {
      .suscribete__title {
        max-width: unset; } }
  .suscribete__button {
    background-color: coral;
    color: white;
    border-width: 0px; }

.pagination {
  height: 156px;
  background-color: #D1D1D1; }
  .pagination .pagination {
    height: auto;
    overflow: hidden;
    border-radius: 50px 50px; }
    .pagination .pagination .page-item:not(.disabled) .page-link {
      color: #121619; }
    .pagination .pagination .page-item.active .page-link {
      background-color: #121619 !important;
      color: #FFF;
      border-color: #121619; }

.news {
  flex: 0 0 100%;
  height: fit-content;
  display: block; }
  @media (min-width: 576px) {
    .news {
      flex: 0 0 30%; } }
  .news__title {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 0.83em 0; }
  .news__img {
    width: 100%;
    height: 180px; }
    @media (min-width: 576px) {
      .news__img {
        width: unset;
        height: unset; } }
  .news__extract {
    display: block;
    padding: 5px 15px; }
