.nav {
    flex: 1 1 100%;
    text-align: right;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li:first-of-type
    {
        display: none;
    }

    @media (min-width: 576px) {
        display: unset;
        flex: 1 1 100%;
        text-align: right;
        list-style: disc;

        li:first-of-type
        {
            display: unset;
        }
    }

    a {
        text-decoration: none;
    }

    &__buscar {
        border-radius: 20px;
        border: 2px solid black;
        margin-left: 10px;
        width: 130px;

        @media (min-width: 576px) {
            width: unset;
        }
    }
}